{{plugin-outlet name="admin-dashboard-top"}}

{{#conditional-loading-spinner condition=loading}}
  <div class="dashboard-left">
    {{#if siteSettings.version_checks}}
      {{version-checks tagName="" versionCheck=dashboard.versionCheck}}
    {{/if}}

    <div class="dashboard-stats trust-levels">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>0</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
          </tr>
        </thead>
        <tbody>
          {{#each dashboard.user_reports as |r|}}
            {{admin-report-trust-level-counts report=r}}
          {{/each}}
        </tbody>
      </table>
    </div>

    <div class="dashboard-stats totals">
      <table>
        <tr>
          <td class="title">{{d-icon "shield"}} {{i18n 'admin.dashboard.admins'}}</td>
          <td class="value">{{#link-to 'adminUsersList.show' 'admins'}}{{dashboard.admins}}{{/link-to}}</td>
          <td class="title">{{d-icon "ban"}} {{i18n 'admin.dashboard.suspended'}}</td>
          <td class="value">{{#link-to 'adminUsersList.show' 'suspended'}}{{dashboard.suspended}}{{/link-to}}</td>
        </tr>
        <tr>
          <td class="title">{{d-icon "shield"}} {{i18n 'admin.dashboard.moderators'}}</td>
          <td class="value">{{#link-to 'adminUsersList.show' 'moderators'}}{{dashboard.moderators}}{{/link-to}}</td>
          <td class="title">{{d-icon "ban"}} {{i18n 'admin.dashboard.blocked'}}</td>
          <td class="value">{{#link-to 'adminUsersList.show' 'blocked'}}{{dashboard.blocked}}{{/link-to}}</td>
        </tr>
      </table>
    </div>

    {{dashboard-reports reports=dashboard.global_reports}}

    {{dashboard-reports
      reports=dashboard.global_reports
      title="admin.dashboard.page_views_short"}}

    {{dashboard-reports
      reports=dashboard.private_message_reports
      description="admin.dashboard.private_messages_title"
      icon="envelope"
      title="admin.dashboard.private_messages_short"}}

    {{dashboard-reports
      reports=dashboard.mobile_reports
      title="admin.dashboard.mobile_title"}}

    <div class="dashboard-stats">
      <table class="table table-condensed table-hover">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{i18n 'admin.dashboard.uploads'}}</td>
            <td>{{dashboard.disk_space.uploads_used}} ({{i18n 'admin.dashboard.space_free' size=dashboard.disk_space.uploads_free}})</td>
            <td>{{#if currentUser.admin}}<a href="/admin/backups">{{i18n 'admin.dashboard.backups'}}</a>{{/if}}</td>
            <td>{{dashboard.disk_space.backups_used}} ({{i18n 'admin.dashboard.space_free' size=dashboard.disk_space.backups_free}})</td>
          </tr>
        </tbody>
      </table>
    </div>

    {{#if showTrafficReport}}
      <div class="dashboard-stats">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th class="title" title="{{i18n 'admin.dashboard.traffic'}}">{{i18n 'admin.dashboard.traffic_short'}}</th>
              <th>{{i18n 'admin.dashboard.reports.today'}}</th>
              <th>{{i18n 'admin.dashboard.reports.yesterday'}}</th>
              <th>{{i18n 'admin.dashboard.reports.last_7_days'}}</th>
              <th>{{i18n 'admin.dashboard.reports.last_30_days'}}</th>
              <th>{{i18n 'admin.dashboard.reports.all'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#unless loading}}
              {{#each dashboard.http_reports as |r|}}
                {{admin-report-counts report=r}}
              {{/each}}
            {{/unless}}
          </tbody>
        </table>
      </div>
    {{else}}
      <div class="dashboard-stats">
        <a href {{action 'showTrafficReport'}}>{{i18n 'admin.dashboard.show_traffic_report'}}</a>
      </div>
    {{/if}}
  </div>

  <div class="dashboard-right">
    {{#if currentUser.admin}}
      {{dashboard-problems}}
    {{/if}}

    {{#stats-table source=dashboard.top_referred_topics as |row|}}
      <div class="referred-topic-title overflow-ellipsis">
        <a href="/t/{{unbound row.topic_slug}}/{{unbound row.topic_id}}">{{row.topic_title}}</a>
      </div>
    {{/stats-table}}

    {{#stats-table source=dashboard.top_traffic_sources as |row|}}
      {{row.domain}}
    {{/stats-table}}

    {{#stats-table source=dashboard.top_referrers as |row|}}
      {{#link-to 'adminUser' row.user_id row.username}}{{row.username}}{{/link-to}}
    {{/stats-table}}
  </div>

  <div class='clearfix'></div>

  <div class="dashboard-stats pull-right">
    <div class="pull-right">{{i18n 'admin.dashboard.last_updated'}} {{moment dashboard.updated_at format="LLL"}}</div>
    <div class='clearfix'></div>
  </div>
  <div class='clearfix'></div>
{{/conditional-loading-spinner}}
